include:
  - ../../overlay.compose.yaml

services:
  arcane-agent:
    container_name: arcane-agent
    hostname: arcane-agent-srv1
    image: ghcr.io/getarcaneapp/arcane-headless:latest
    restart: unless-stopped
    environment:
      PORT: 3552
      ENVIRONMENT: production
      DOCKER_HOST: unix:///var/run/docker.sock
      AGENT_MODE: true
      AGENT_TOKEN: ${ARCANE_AGENT_TOKEN:?ARCANE_AGENT_TOKEN variable not set}
      MANAGER_API_URL: http://arcane-main:3552
      UPDATE_CHECK_DISABLED: true
      ANALYTICS_DISABLED: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - arcane-agent-data:/app/data
    networks:
      - internet
      - arcane-overlay

networks:
  internet:
    driver: bridge

volumes:
  arcane-agent-data:
    name: arcane-agent-data
    driver: local
