services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped

    healthcheck:
      interval: 2m
      retries: 5
      start_interval: 5s
      start_period: 15s
      test: "curl --fail http://localhost:5001 || exit 1"
      timeout: 5s

    networks:
      - traefik
    ports:
      - 18001:5001

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/dockage:/app/data
      # Stacks location
      - ../:/app/mystacks:ro

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockge.rule=Host(`nas1.royal-ph.ts.net`) &&  && PathPrefix(`/dockage`)"
      - "traefik.http.services.dockge.loadbalancer.server.port=18001"
      - "traefik.http.routers.dockge.entrypoints=websecure"
      # Enable TLS with Tailscale
      - "traefik.http.routers.dockage.tls=true"
      - "traefik.http.routers.dockge.tls.certresolver=ts"

    environment:
      - DOCKGE_STACKS_DIR=/app/mystacks

networks:
  traefik:
    external: true
