version: "3"

services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped

    healthcheck:
      interval: 2m
      retries: 5
      start_interval: 5s
      start_period: 15s
      test: "curl --fail http://localhost:5001 || exit 1"
      timeout: 5s

    ports:
      - 18001:5001

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/dockage:/app/data
      # Stacks location
      - ../:/app/mystacks:ro

    environment:
      - DOCKGE_STACKS_DIR=/app/mystacks
