services:
  tailscale:
    image: tailscale/tailscale:latest

    restart: unless-stopped
    healthcheck:
      interval: 1m
      retries: 5
      start_interval: 5s
      start_period: 15s
      test: "tailscale status"
      timeout: 5s
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 2048M
        reservations:
          cpus: 0.1
          memory: 50M

    # load auth key from .env
    env_file: ./.env
    environment:
      - TS_ACCEPT_DNS=false
      - TS_AUTH_ONCE=true
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_EXTRA_ARGS="--advertise-exit-node --exit-node-allow-lan-access"

    network_mode: host

    volumes:
      - ../data/tailscale/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun

    privileged: false
    stdin_open: false
    tty: false
    security_opt:
      - no-new-privileges=true
    cap_add:
      - net_admin
      - sys_module
      - net_raw
    cap_drop:
      - all
