providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
  file:
    directory: /etc/traefik/configs
    watch: true

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        options: default
        certResolver: cloudflare

certificatesResolvers:
  cloudflare:
    acme:
      email: "acme@varma01.dev"
      storage: "/app/acme/cloudflare.json"
      dnsChallenge:
        provider: cloudflare
        propagation:
          delayBeforeChecks: 10

log:
  level: WARN
  format: json
  maxSize: 50
  maxAge: 720
  filePath: "/app/logs/traefik.log"

global:
  checkNewVersion: false
  sendAnonymousUsage: false
