http:
  middlewares:
    tailnet-whitelist:
      ipWhiteList:
        sourceRange:
          - "100.64.0.0/10"
    
    authelia:
      forwardAuth:
        address: 'http://authelia:9091/api/authz/forward-auth'
        trustForwardHeader: true
        authResponseHeaders:
          - 'Remote-User'
          - 'Remote-Groups'
          - 'Remote-Email'
          - 'Remote-Name'