providers:
  docker:
    exposedByDefault: false
    watch: true
    network: traefik

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        options: default
        certResolver: le

certificatesResolvers:
  le:
    acme:
      email: someone@example.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
  ts:
    tailscale: {}

ping: {}

logs:
  level: INFO
  filePath: /logs/traefik.log
  format: common