providers:
  file:
    filename: /dynamic/tls.yaml
  docker:
    exposedByDefault: false
    watch: true
    network: traefik

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: 80
    http:
      redirections:
          entrypoint:
            to: websecure
            scheme: https
            permanent: true

  websecure:
    address: 443
    http:
      tls: true

