include:
  - ../traefik/networks.compose.yaml

services:
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/jellyfin/jellyfin:10.11
    restart: "unless-stopped"
    environment:
      - TZ=Europe/Budapest
      - JELLYFIN_PublishedServerUrl=https://jelly.${EXTERNAL_DOMAIN}
    volumes:
      - /mnt/SigmaPool/jellyfin/config:/config
      - /mnt/SigmaPool/jellyfin/cache:/cache
      - /mnt/SigmaPool/jellyfin/media:/media
      - /mnt/SigmaPool/torrent/downloads:/downloads:ro
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - video
    networks:
      - traefik-jellyfin
      - internet
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-jellyfin"
      - "traefik.http.routers.jellyfin.rule=Host(`jelly.${EXTERNAL_DOMAIN}`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"

networks:
  internet:
    driver: bridge

# volumes:
#   jellyfin_config:
#     name: jellyfin_config
#     driver: local
#   jellyfin_cache:
#     name: jellyfin_cache
#     driver: local
#   jellyfin_media:
#     name: jellyfin_media
#     driver: local
#   torrents:
#     external: true
