services:
  traefik:
    image: traefik:v3.6

    security_opt:
      - no-new-privileges:true

    restart: unless-stopped
    healthcheck:
      interval: 1m
      retries: 5
      start_interval: 5s
      start_period: 15s
      test: "traefik healthcheck"
      timeout: 5s

    networks:
      - traefik
      - internet

    ports:
      - "80:80"
      - "443:443"

    volumes:
      # traefik configuration
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./dynamic.yaml:/etc/traefik/dynamic/dynamic.yaml:ro
      # docker socket access
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # traefik data stores
      - ${TRAEFIK_ACME_VOLUME}:/acme:rw
      # traefik logs
      # - ../logs/traefik:/var/log:rw

    env_file: ./.env

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`${TRAEFIK_DASHBOARD_HOST}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=cf"

networks:
  traefik:
    external: true
  internet:
    driver: bridge
