include:
  - ../traefik/networks.compose.yaml

services:
  glance:
    container_name: glance
    image: glanceapp/glance:latest
    restart: unless-stopped
    volumes:
      - ./config:/app/config
    networks:
      - traefik-glance
      - internet
    labels:
      traefik.enable: true
      traefik.docker.network: traefik-glance
      traefik.http.routers.glance.rule: Host(`glance.${TAILNET_DOMAIN:?TAILNET_DOMAIN variable not set}`)
      traefik.http.services.glance.loadbalancer.server.port: 8080
      traefik.http.routers.glance.entrypoints: websecure
      traefik.http.routers.glance.middlewares: authentik@file

networks:
  internet:
    driver: bridge
